// headerStyles.scss

.header {
  width: 100%;
  background-color: #ebebeb;
  margin: 0;
  padding: 0.625em;
  h3 {
    font-family: "Domine", Georgia, serif;
    color: #0078ae;
    margin: 0;
    line-height: 40px;
  }
  .uppercase {
    text-transform: uppercase;
  }
  p {
    color: #6cb33f;
  }
}

.nav {
  float: right;
  li {
    display: inline-block;
  }
}
