//iconCotainer.scss for main page tiles

.imageContainer {
  width: 100%;
  height: 310px;
  margin: 0.625em;
  color: white;
  float: left;
  h2 {
    @include visuallyhidden;
  }
  img {
  z-index: 0;
  max-width: none;
  }
  p {
    position: absolute;
    left: 0.625em;
    bottom: 0;
    margin: 0;
    padding-bottom: 0.625em;
  }
}

.small {
  width: 190px;
}

.medium {
  width: 310px;
}

.large {
  width: 430px;
}
